@model IEnumerable<NCIP.Models.Company>
<table class="table-responsive table-striped table-hover table-bordered table-condensed" id="companies-table">
    <thead>
        <tr>
            <th class="col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th class="col-sm-2">
                @Html.DisplayNameFor(model => model.Landline)
            </th>
            <th class="col-sm-2">
                @Html.DisplayNameFor(model => model.Mobile)
            </th>
            <th class="col-sm-2">
                @Html.DisplayNameFor(model => model.Businesstype)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.Name, "Details", new { id = item.ID })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Landline)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mobile)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Businesstype)
                </td>
            </tr>
        }
    </tbody>
</table>


@section Scripts {
    @Scripts.Render("~/bundles/customScripts")
    <script>
        new Tablesort(document.getElementById('companies-table'));
    </script>
}
